<!-- myapp/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}To Do List{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <h1>To Do List</h1>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
